{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/auth/register.css") }}">
{% endblock %}

{% block body %}
    <div class="register-container">
        <form method="post">
            {% for flash_error in app.flashes('verify_email_error') %}
                <div class="error" role="alert">{{ flash_error }}</div>
            {% endfor %}

            {{ form_errors(registrationForm) }}

            <h1>Register</h1>
            <input
                type="email"
                value="{{ registrationForm.email.vars.value }}"
                name="registration[email]"
                id="email"
                placeholder="Enter your email"
                class="form-control"
                autocomplete="email"
                required autofocus>

            <input
                type="password"
                name="registration[plainPassword][first]"
                id="password"
                placeholder="Enter your password"
                class="form-control"
                autocomplete="new-password"
                required>

            <input
                type="password"
                name="registration[plainPassword][second]"
                id="password_confirm"
                placeholder="Confirm your password"
                class="form-control"
                autocomplete="new-password"
                required>

            <div class="register-remember">
                <div class="register-remember-box">
                    <input type="checkbox" name="registration[agreeTerms]" id="agreeTerms" {{ registrationForm.agreeTerms.vars.value ? 'checked' : '' }}>
                    <label for="agreeTerms">{{ registrationForm.agreeTerms.vars.label }}
                        I agree to the
                        <a class="terms" href="/terms">terms</a>
                    </label>
                </div>
            </div>

            <button class="registerBtn" type="submit">
                Register
            </button>

            <div class="login-register">
                Already have an account ?
                <a href="/login" data-discover="true">
                    Login here
                </a>
            </div>
        </form>
    </div>
{% endblock %}
